body {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav > ul {
    list-style-type: none;
    display: inline-block;
    padding-inline-start: unset;
}

nav > ul > li {
    display: inline-block;
    margin: 1px;
}

nav > ul > li:not(:last-child) {
    border-right: 2px #000 solid;
}

nav > ul > li > ul {
    list-style-type: none;
    padding-inline-start: unset;
    width: 110px;
}

nav > ul > li > ul > li {
    display: inline-block;
    width: 100px;
    height: 1.6em;
    padding-top: 0.3em;
    margin: 2px;
    background-color: #e0e0e0;
    border: 2px #888 solid;
}

nav > ul > li > ul > li.label {
    font-weight: bold;
    border: 2px transparent;
    background-color: #fff !important;
}

nav > ul > li > ul > li.active {
    border: 2px #228b22 solid !important;
    filter: brightness(1.15);
}

nav > ul > li > ul > li a {
    text-decoration: none;
    color: #000;
}

nav > ul > li > ul.what {
    width: 110px;
}

nav > ul > li > ul.scale {
    width: 110px;
}

nav > ul > li > ul.threshold {
    width: 220px;
}

nav > ul > li > ul.per_inhabitants {
    width: 110px;
}

nav > ul > li > ul.offset {
    width: 110px;
}

nav > ul > li > ul.offset > li.form {
    height: 4.2em;
}

nav > ul > li > ul.offset > li.form input[type='text'] {
    width: 6em;
}

nav > ul > li > ul.test > li:not(.label) {
    height: 4.2em;
}

